<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Add new Customer Details!</p>
      <label>Customer First Name</label>
      <input type="text" class="form-control" [(ngModel)]="customerFirstName">
      <label>Customer Last Name</label>
      <input type="text" class="form-control" [(ngModel)]="customerLastName">
      <label>Customer email address</label>
      <input type="text" class="form-control" [(ngModel)]="customerEmailAddress">
      <label>Customer salary</label>
      <input type="text" class="form-control" [(ngModel)]="customerSalary">
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddCustomerData()">Add Customer Data</button>
<!--        class="btn btn-primary"-->
<!--        (click)="onAddCustomerLastName()">Add Customer Last Name</button>-->
<!--      <button-->
<!--        class="btn btn-primary"-->
<!--        (click)="onAddCustomerEmailAddress()">Add Customer Email Address</button>-->
<!--      <button-->
<!--        class="btn btn-primary"-->
<!--        (click)="onAddCustomerSalary()">Add Customer Salary</button>-->
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let customer for AddCustomerDetails">
        <div class="panel-heading">{{ customer.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="customer.type === 'customerFirstName'" style="color: red">{{ customer.onAddCustomerFirstName() }}</strong>
            <strong *ngIf="customer.type === 'customerLastName'" style="color: red">{{ customer.onAddCustomerLastName() }}</strong>
            <strong *ngIf="customer.type === 'customerEmailAddress'" style="color: red">{{ customer.onAddCustomerEmailAddress() }}</strong>
            <strong *ngIf="customer.type === 'customerSalary'" style="color: red">{{ customer.onAddCustomerSalary() }}</strong>
            <em *ngIf="customer.type === 'blueprint'">{{ customer.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
